*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/**/build/
/build-logic/.gradle/
build-logic/convention/build/
build-logic/convention/.gradle/
build-logic/convention/bin/
build-logic/conventionbuild-logic/convention/build/
.idea/
.build/
build/
.idea/